main {
  width: 100%;
  border: 1px solid red;
  background: #29BDE0;
}
main #page2 {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  color: #F56B81;
  border-radius: 50%;
  border: 2px solid #FFEDC5;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 27px;
}
main .mt42 {
  text-align: center;
  margin-top: 42px;
  background: #FFEDC5;
  width: -webkit-calc(100% - 88px);
  width: -moz-calc(100% - 88px);
  width: calc(100% - 88px);
  margin-left: 44px;
  margin-right: 44px;
  height: 328px;
  border: 3px solid #fff;
}
main button {
  margin: 62px 38px 30px 38px;
  width: -webkit-calc(100% - 76px);
  width: -moz-calc(100% - 76px);
  width: calc(100% - 76px);
  line-height: 41px;
  font-size: 24px;
  color: #fff;
  background: #fbb435;
  border: 0;
}
